Repository phdsystems/ade-crypt: changes, and which pre-commit hooks are due for each by the changed paths.
All: ade-crypt-lint, ade-crypt-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration for ADE-Crypt
# Install with: pip install pre-commit && pre-commit install

repos:
  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [--severity=warning]
        files: \.(sh|bash)$
        exclude: ^src/legacy/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Check file formatting
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      
      # Security checks
      - id: detect-private-key
        exclude: tests/
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]

  # Custom hooks
  - repo: local
    hooks:
      # Run our custom linting
      - id: ade-crypt-lint
        name: ADE-Crypt Linting
        entry: ./scripts/lint.sh
        language: script
        files: \.(sh|bash)$
        exclude: ^src/legacy/
        
      # Run tests on changes
      - id: ade-crypt-test
        name: ADE-Crypt Tests
        entry: ./scripts/test.sh
        language: script
        files: ^(src/|tests/|ade-crypt$|bin/)
        stages: [push]

feat: Rebrand ADE-Crypt to ADE crypt for Agentic Development Environment
  .github/workflows/ci.yml
  README.md
  ade-crypt
  docs/DOCS.md
  docs/MODULAR.md
  docs/PROJECT_STRUCTURE.md
  install.sh
  src/core/dispatcher.sh
  src/core/help.sh
  src/lib/common.sh
  src/modules/backup.sh
  src/modules/decrypt.sh
  src/modules/encrypt.sh
  src/modules/export.sh
  src/modules/keys.sh
  src/modules/secrets.sh
Due: ade-crypt-lint, ade-crypt-test

feat: Implement comprehensive dependency management system
  Makefile
  README.md
  ade-crypt
  scripts/check-deps.sh
  scripts/install-dev-deps.sh
  src/lib/common.sh
Due: ade-crypt-lint, ade-crypt-test

refactor: Clean up project by removing 65% redundant code and consolidating architecture
  Makefile
  bin/ade-crypt
  docs/MODULAR.md
  docs/PROJECT_STRUCTURE.md
  src/legacy/ade-crypt
  src/legacy/ade-crypt-modular
  src/legacy/ade-crypt.original
  src/lib/common.sh
Due: ade-crypt-lint, ade-crypt-test

docs: Fix version references and paths in documentation
  .github/workflows/ci.yml
  README.md
  docs/DOCS.md
  docs/PROJECT_STRUCTURE.md
  src/lib/common.sh
Due: ade-crypt-lint, ade-crypt-test

docs: Update all documentation for consistency and accuracy
  README.md
  docs/DOCS.md
  docs/PROJECT_STRUCTURE.md
  docs/TESTING.md
Due: none

docs: Add comprehensive make commands documentation
  README.md
  docs/DOCS.md
  docs/TESTING.md
Due: none

feat: Add standalone library package for external project integration
  lib/README.md
  lib/ade-crypt-lib.sh
  lib/install.sh
Due: ade-crypt-lint

docs: Reorganize documentation with proper naming and structure
  README.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/INSTALLATION.md
  docs/USER_GUIDE.md
Due: none

feat: Add automatic ShellCheck installation to lint script
  scripts/lint.sh
Due: ade-crypt-lint

fix: Resolve all ShellCheck style issues across codebase
  ade-crypt
  install.sh
  scripts/lint.sh
  src/core/dispatcher.sh
  src/core/help.sh
  src/lib/common.sh
  src/modules/backup.sh
  src/modules/decrypt.sh
  src/modules/encrypt.sh
  src/modules/export.sh
  src/modules/keys.sh
  src/modules/secrets.sh
Due: ade-crypt-lint, ade-crypt-test

feat: Add comprehensive security and performance analysis tools
  .gitleaks.toml
  scripts/coverage.sh
  scripts/install-security-tools.sh
  scripts/performance-test.sh
  scripts/security-audit.sh
Due: ade-crypt-lint

fix: Resolve critical security vulnerabilities and add Makefile targets
  Makefile
  src/lib/common.sh
  src/modules/decrypt.sh
  src/modules/encrypt.sh
  src/modules/keys.sh
  src/modules/secrets.sh
Due: ade-crypt-lint, ade-crypt-test

feat: Enhanced security tooling with automated fixes and documentation
  .gitleaksignore
  Makefile
  docs/SECURITY.md
  scripts/fix-security.sh
  scripts/security-audit.sh
Due: ade-crypt-lint

fix: Standardize project name to "ADE crypt" across codebase
  .gitleaks.toml
  .pre-commit-config.yaml
  docs/SECURITY.md
  docs/TESTING.md
  install.sh
  scripts/coverage.sh
  scripts/fix-security.sh
  scripts/install-security-tools.sh
  scripts/lint.sh
  scripts/performance-test.sh
  scripts/security-audit.sh
  scripts/test.sh
  src/lib/common.sh
  tests/basic.bats
Due: ade-crypt-lint, ade-crypt-test

feat: Add comprehensive test coverage for all scripts and modules
  scripts/run-all-tests.sh
  scripts/test-summary.sh
  scripts/test.sh
  tests/basic.bats
  tests/modules/decrypt.bats
  tests/modules/encrypt.bats
  tests/modules/secrets.bats
  tests/scripts/check-deps.bats
  tests/scripts/coverage.bats
  tests/scripts/fix-security.bats
  tests/scripts/install-security-tools.bats
  tests/scripts/lint.bats
  tests/scripts/performance-test.bats
  tests/scripts/security-audit.bats
  tests/scripts/test.bats
Due: ade-crypt-lint, ade-crypt-test

docs: Update documentation with comprehensive test coverage information
  CHANGELOG.md
  README.md
  docs/DEVELOPMENT.md
  docs/TESTING.md
Due: none

docs: Add comprehensive code review strategy documentation and tools
  Makefile
  docs/CODE_REVIEW_STRATEGY.md
  docs/FULLY_AUTOMATED_REVIEW.md
  docs/RESOLVING_REVIEW_WEAKNESSES.md
  scripts/validate-architecture.sh
Due: ade-crypt-lint

feat: Complete architecture validation implementation with cleanup
  README.md
  docs/DEVELOPMENT.md
  docs/RESOLVING_REVIEW_WEAKNESSES.md
  docs/adr/001-encryption-algorithms.md
  docs/adr/002-key-storage-security.md
  docs/adr/003-error-handling-standards.md
  docs/adr/template.md
  scripts/validate-architecture.sh
  tests/validate_architecture.bats
Due: ade-crypt-lint, ade-crypt-test
